.hm-logo{ background:url("hm-logo.png") top left no-repeat; }
.登录页_r1_c1{ width:236px; height:102px; background-position:-10px -10px; }
.登录页_r1_c3{ width:116px; height:102px; background-position:-10px -122px; }

